<div class="space-y-6">
  <!-- Heading -->
  <h2 class="text-2xl font-semibold text-base-content">Event Management</h2>

  <!-- Add Event Button -->
  <div class="bg-base-100 shadow rounded-xl p-4">
    <h3 class="text-lg font-medium mb-4 text-base-content">Create New Event</h3>
    <a
      href="#host"
      class="inline-block bg-primary text-primary-content px-4 py-2 rounded-md hover:bg-primary-focus"
    >
      Add Event
    </a>
  </div>

  <!-- Promoted Events Table -->
  <div class="container mx-auto py-6 px-4">
    <h1 class="text-3xl font-bold text-success mb-4">Promoted Events</h1>

    <table
      class="w-full text-sm text-left text-base-content shadow-md rounded-lg overflow-hidden"
    >
      <thead class="bg-success/20 text-success font-semibold">
        <tr>
          <th class="px-4 py-2">Event Title</th>
          <th class="px-4 py-2">Description</th>
          <th class="px-4 py-2">Organizer</th>
          <th class="px-4 py-2">Category</th>
          <th class="px-4 py-2">Place</th>
          <th class="px-4 py-2">Actions</th>
        </tr>
      </thead>
      <tbody id="promoted-events-body">
        <!-- Promoted events will be inserted here by JavaScript -->
      </tbody>
    </table>
  </div>

  <!-- Events Table -->
  <div class="container mx-auto py-6 px-4">
    <h1 class="text-3xl font-bold text-base-content mb-4">Manage Events</h1>

    <!-- Table to display events -->
    <table
      class="w-full text-sm text-left text-base-content shadow-md rounded-lg overflow-hidden table-fixed"
    >
      <thead class="bg-base-200 text-base-content/70 font-semibold">
        <tr>
          <th class="px-4 py-2">Event Title</th>
          <th class="px-4 py-2 truncate w-1/6">Description</th>
          <th class="px-4 py-2">Organizer</th>
          <th class="px-4 py-2">Category</th>
          <th class="px-4 py-2 w-1/5 truncate">Place</th>
          <th class="px-4 py-2">Actions</th>
        </tr>
      </thead>
      <tbody id="events-mbody">
        <!-- Events will be populated here by JavaScript -->
      </tbody>
    </table>
  </div>
</div>
